@using BookRecords.Core.DTOs
@model List<BookWithAuthorDto>
@{
    ViewData["Title"] = "Kitaplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Kayıt No</td>
            <td>Kitap</td>
            <td>Yazar</td>
            <td>Sil</td>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><a href=/Book/Update/@item.Id style="text-decoration:none">@item.Name</a></td>
                <td><a href=/Author/Update/@item.AuthorId style="text-decoration:none">@item.Author.Name</td>
                <td><a href=/Admin/Delete/@item.Id class="btn btn-danger">Sil</a></td>                               
            </tr>
        }
    </tbody>
</table>
<a href ="/Admin/Add/" class="btn btn-success">Ekle</a>
